body{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(174, 2, 0, 1);
}

/* MENÚ */

nav{ /* Estilos del menú */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 112, 32, 1); /* Fondo naranja */
  padding: 10px 20px;
  color: white;
}

.titulo {
  font-size: 24px;
  font-weight: bold;
  color: white; /* Texto blanco */
  margin-right: 40px; /* Espacio entre el título y los hipervínculos */
}

.enlaces {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center; /* Alinea los ítems verticalmente */
}

.enlaces li {
  margin: 0 15px;
}

.enlaces a {
color: white; /* Hipervínculos blancos */
text-decoration: none;
font-weight: bold;
}

.enlaces a:hover {/* :hover es una pseudo-clase de css que actua al pasar el mouse sobre el elemento */
  color: rgba(174, 2, 0, 1); /* al pasar el mouse se pondrá de ese color */
}

.titulo {
  color: ba(255, 255, 255, 1);
  padding: 10px;
  font-size: x-large;
}

.boton_pide_en_línea {
  background-color:rgba(255, 255, 255, 1); /* Color del Boton */
  color: rgba(255, 112, 32, 1); /* Color para el texto */;
  cursor: pointer;
  padding: 15px;
  font-size: 18px;
  text-decoration: none;
  border-radius: 30px; /* Bordes redondeados */
  border: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidad */
  font-weight: 650;
}

.boton_pide_en_línea a {
  color: rgba(255, 112, 32, 1);
}

.boton_pide_en_línea:hover, .boton_pide_aqui:hover a {
  background-color: #f0f0f0; /* Cambia el fondo al pasar el mouse */
  color: rgba(255, 112, 32, 1)
}

/* BANNER */

.Banner {
  width: 100%;
  border-radius: 50px;
}


/* INICIO */
#inicio {
  display: flex;
  justify-content: flex-start; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  min-height: 100vh; /* Asegura que ocupe toda la altura de la pantalla */
  padding: 0px; /* Espaciado interno */
}

.oferta_imagen_pideaqui {
  display: flex; /* Activa Flexbox */
  align-items: center; /* Centra verticalmente los elementos hijos */
  gap: 40px; /* Espacio entre la oferta y el banner */
  max-width: 1200px; /* Ancho máximo del contenedor */
  margin: 0;
  
}

/* OFERTA - INICIO */
.oferta {
  text-align: center;
  padding: 20px;
  margin-top: 10px;
  margin-right: 00px;
  margin-bottom: 20px;
  margin-left: 0px;
  border: 0.5px solid white;
  border-left: none;
  border-radius: 0px 50px 50px 0px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex: 1; /* Ocupa el espacio disponible */
}

.oferta h2 {
  font-size: 36px;
  margin: 20px 30px;
  color: white;
}

.oferta h3 {
  font-size: 24px;
  margin: 10px 0;
  background-color: white;
  color: rgba(174, 2, 0, 1);
  border-radius: 30px;
  transform: rotate(-4deg);
  padding-left: 100px;
  padding-right: 100px;
}

.oferta p {
  font-size: 18px;
  line-height: 1.6;
  max-width: 800px;
  margin: 20px 20px 20px 10px;
  color: white;
  font-weight: 400;
}

/* Botón "Pide aquí" - INICIO */
.boton_pide_aqui {
  background-color: rgba(255, 112, 32, 1); /* Color del Boton */
  color: rgba(255, 225, 0, 1); /* Color para el texto */
  cursor: pointer;
  padding: 15px;
  font-size: 16px;
  text-decoration: none;
  border-radius: 30px;
  border: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  display: block;
  margin-top: 20px;
  position: relative;
  margin-left: 200px;
  top: -150px;
  max-width: max-content;
}

.boton_pide_aqui:hover {
  background-color: rgba(174, 2, 0, 1); /* Cambia el fondo al pasar el mouse */
}

.boton_pide_aqui a {
  color: rgba(255, 225, 0, 1);
  text-decoration: none;
}

/* BOTON DE ADICONALES - INICIO */
.boton_adicionales {
  background-color: rgba(174, 2, 0, 1); /* Color del Boton */
  color: white; /* Color para el texto */
  cursor: pointer;
  padding: 20px;
  font-size: 16px;
  text-decoration: none;
  border-radius: 100px;
  border: 0.5px solid white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  margin-top: 20px;
  position: relative;
  float: right;
  top: -650px;
  right: 50px;
  max-width: max-content;
}

.boton_adicionales a {
  color: white;
  text-decoration: none;
}

/* IMAGEN DE LA PIZZA - INICIO */
.imagen_pizza {
  flex: 1; /* Ocupa el espacio disponible */
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagen_pizza img {
  max-width: 100%; /* Ajusta la imagen al contenedor */
  position: relative;
  width: 1000px;
}

/* Estilos del contenido - INICIO */
.contenido {
  text-align: center;
  padding: 10px 10px 10px 10px;
  margin: 10px;
}

.contenido h1 {
  font-size: 36px;
  margin: 20px 30px;
  color: rgb(255, 162, 0);
}

.contenido h2 {
  font-size: 24px;
  margin: 10px 0;
  color: rgba(255, 112, 32, 1); /* Color naranja */
}

.contenido p {
  font-size: 18px;
  line-height: 1.6;
  max-width: 800px;
  margin: 20px auto;
  color: #c8c2c2;
  text-align: center;
}

/*FOOTER*/

.footer {
  background-color: rgba(174, 2, 0, 1);
  color: white;
  text-align: center;
  padding: 15px;
  font-size: 14px;
  margin-top: auto;
  text-align: end;
}

.footer a {
  color: #ff9900;
  text-decoration: none;
  font-weight: bold;
}

.footer a:hover {
  text-decoration: underline;
}

/* SEDES - DONDE ENCONTRARNOS - DIRECCIONES */

.sedes {
  padding: 80px 20px;
  text-align: center;
}

.sedes h1 {
  font-size: 40px;
  color: rgba(255, 112, 32, 1);
  margin-bottom: 40px;
  font-family: 'Poppins', sans-serif;
}

.mapa {
  border: #ff9900 solid 10px;
  border-radius: 20px;
}

.mapa:hover {
  transform: translateY(-10px); /* Efecto de levantar la tarjeta */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición suave */
}

.direcciones {
  padding: 80px 20px;
  text-align: center;
}

.direcciones h2 {
  font-size: 40px;
  color: rgba(255, 112, 32, 1);
  margin-bottom: 40px;
  font-family: 'Poppins', sans-serif;
}

.contenedor_cartas {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px; /* Espacio entre tarjetas */
}

.columnas {
  flex: 1;
  max-width: 25%;
  min-width: 250px;
}

.carta {
  background-color: #fff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Sombra suave */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición suave */
}

.carta a {
  text-decoration: none;
}

.carta:hover {
  transform: translateY(-10px); /* Efecto de levantar la tarjeta */
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
}

.carta img {
  width: 200px;
  max-height: 200px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 0.5px solid black;
}

.carta h3 {
  font-size: 24px;
  color: #302e2e;
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;
}

.carta p {
  font-size: 16px;
  color: #666;
  line-height: 1.6; /* Espaciado entre líneas */
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
}

/* CONTACTO - FORMULARIO */

.formulario {
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  color: white;
  position: relative;
  margin-top: 1rem;
  margin-left: 30rem;
}

.formulario h2 {
  margin-bottom: 10px;
  font-size: 24px;
}

.formulario p {
  font-size: 14px;
  margin-bottom: 20px;
}

label {
  display: block;
  text-align: left;
  margin-top: 10px;
  font-weight: bold;
}

input, textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

input:focus, textarea:focus {
  outline: 2px solid rgba(255, 112, 32, 1);
}

button {
  background: rgba(255, 112, 32, 1);
  color: #333;
  font-size: 18px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
  width: 100%;
}

button:hover {
  background: #ffdb58;
}

/* PRODUCTOS */

.catalogo {
  width: 90%;
  max-width: 1000px;
  margin-left: 200px;
  margin-top: 100px;
}

.catalogo h1 {
  font-size: 40px;
  color: rgba(255, 112, 32, 1);
  margin-bottom: 40px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.catalogo details {
  background: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.catalogo summary {
  background: rgba(255, 112, 32, 1);
  color: white;
  padding: 10px 15px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contenido {
  padding: 15px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
}

.carta_producto {
  background: rgba(174, 2, 0, 1);
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor:auto;
}

.carta_producto img {
  width: 100%;
  border-radius: 5px;
}


.titulos {
  font-weight: bold;
  color: #0056b3;
  margin-top: 10px;
}

.descripcion {
  font-size: 14px;
  color: #555;
}

.contenedor_nosotros {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.contenedor_nosotros h1 {
  text-align: center;
  color: rgba(255, 112, 32, 1);
}

.linea_tiempo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
}

.linea_tiempo div {
  padding: 20px;
  color: white;
  font-size: 18px;
  text-align: center;
}

.bloque_texto {
  background-color: rgba(255, 112, 32, 1);
}

.bloque_imagen img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

/* EMPRESAS */

.empresas {
  padding: 80px 20px;
  text-align: center;
}

.empresas h1 {
  font-size: 40px;
  color: rgba(255, 112, 32, 1);
  margin-bottom: 40px;
  font-family: 'Poppins', sans-serif;
}

.empresas p {
  font-size: 25px;
  line-height: 1.6;
  max-width: 800px;
  margin: 20px auto;
  color: white;
  text-align: center;
}

.patrocinadores {
  padding: 80px 20px;
  text-align: center;
}

.patrocinadores h2 {
  font-size: 40px;
  color: rgba(255, 112, 32, 1);
  margin-bottom: 40px;
  font-family: 'Poppins', sans-serif;
}

.contenedor_cartas_empresas {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px; /* Espacio entre tarjetas */
}

.columnas {
  flex: 1;
  max-width: 25%;
  min-width: 250px;
}

.carta_empresas {
  background-color: rgba(255, 112, 32, 1);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Sombra suave */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición suave */
}

.carta_empresas:hover {
  transform: translateY(-10px); /* Efecto de levantar la tarjeta */
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
}

.carta_empresas img {
  width: 200px;
  max-height: 200px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 0.5px solid black;
}

.carta_empresas h3 {
  font-size: 24px;
  color: #302e2e;
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;
}

.carta_empresas p {
  font-size: 16px;
  color: #666;
  line-height: 1.6; /* Espaciado entre líneas */
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
}